Connected Services/CalculationService/CalculationService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:51286/CalculationService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Calculator.Domain" />
  <xs:import schemaLocation="http://localhost:51286/CalculationService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Calculator.Service.DTOs" />
  <xs:element name="GetData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Calculator.Domain" minOccurs="0" name="GetDataResult" nillable="true" type="q1:CalculatorOperation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllData">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Calculator.Domain" minOccurs="0" name="GetAllDataResult" nillable="true" type="q2:ArrayOfCalculatorOperation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CalculateResult">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Calculator.Service.DTOs" minOccurs="0" name="request" nillable="true" type="q3:CalculateResultRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CalculateResultResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CalculateResultResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>