Connected Services/CalculationService/CalculationServiceImpl.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CalculationServiceImpl" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:51286/CalculationService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:51286/CalculationService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:51286/CalculationService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Calculator.Domain" />
      <xsd:import schemaLocation="http://localhost:51286/CalculationService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Calculator.Commons.Implementation" />
      <xsd:import schemaLocation="http://localhost:51286/CalculationService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Calculator.Service.DTOs" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICalculationService_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="ICalculationService_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="ICalculationService_GetAllData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllData" />
  </wsdl:message>
  <wsdl:message name="ICalculationService_GetAllData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllDataResponse" />
  </wsdl:message>
  <wsdl:message name="ICalculationService_CalculateResult_InputMessage">
    <wsdl:part name="parameters" element="tns:CalculateResult" />
  </wsdl:message>
  <wsdl:message name="ICalculationService_CalculateResult_OutputMessage">
    <wsdl:part name="parameters" element="tns:CalculateResultResponse" />
  </wsdl:message>
  <wsdl:portType name="ICalculationService">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/ICalculationService/GetData" message="tns:ICalculationService_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICalculationService/GetDataResponse" message="tns:ICalculationService_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllData">
      <wsdl:input wsaw:Action="http://tempuri.org/ICalculationService/GetAllData" message="tns:ICalculationService_GetAllData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICalculationService/GetAllDataResponse" message="tns:ICalculationService_GetAllData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CalculateResult">
      <wsdl:input wsaw:Action="http://tempuri.org/ICalculationService/CalculateResult" message="tns:ICalculationService_CalculateResult_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICalculationService/CalculateResultResponse" message="tns:ICalculationService_CalculateResult_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICalculationService" type="tns:ICalculationService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/ICalculationService/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllData">
      <soap:operation soapAction="http://tempuri.org/ICalculationService/GetAllData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CalculateResult">
      <soap:operation soapAction="http://tempuri.org/ICalculationService/CalculateResult" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CalculationServiceImpl">
    <wsdl:port name="BasicHttpBinding_ICalculationService" binding="tns:BasicHttpBinding_ICalculationService">
      <soap:address location="http://localhost:51286/CalculationService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>