Connected Services/CalculationService/CalculationService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Calculator.Service.DTOs" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Calculator.Service.DTOs" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CalculateResultRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="FirstOperand" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Operator" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SecondOperand" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CalculateResultRequest" nillable="true" type="tns:CalculateResultRequest" />
  <xs:complexType name="Root">
    <xs:sequence>
      <xs:element minOccurs="0" name="iOne" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="iTwo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="imaginary" type="xs:boolean" />
      <xs:element minOccurs="0" name="one" type="xs:decimal" />
      <xs:element minOccurs="0" name="two" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Root" nillable="true" type="tns:Root" />
</xs:schema>