Connected Services/CalculationService/CalculationService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/Calculator.Domain" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Calculator.Domain" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:51286/CalculationService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://localhost:51286/CalculationService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Calculator.Commons.Implementation" />
  <xs:complexType name="CalculatorOperation">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/Calculator.Commons.Implementation" base="q1:Entity">
        <xs:sequence>
          <xs:element minOccurs="0" name="CalculatorId" type="ser:guid" />
          <xs:element minOccurs="0" name="FirstOperand" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Id" type="xs:int" />
          <xs:element minOccurs="0" name="Operation" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Result" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SecondOperand" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CalculatorOperation" nillable="true" type="tns:CalculatorOperation" />
  <xs:complexType name="ArrayOfCalculatorOperation">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CalculatorOperation" nillable="true" type="tns:CalculatorOperation" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCalculatorOperation" nillable="true" type="tns:ArrayOfCalculatorOperation" />
</xs:schema>