Connected Services/CalculationService/CalculationService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:51286/CalculationService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Calculator.Domain" />
  <xs:import schemaLocation="http://localhost:51286/CalculationService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://localhost:51286/CalculationService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Calculator.Service.DTOs" />
  <xs:element name="GetData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Calculator.Domain" minOccurs="0" name="GetDataResult" nillable="true" type="q1:CalculatorOperation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataFromGuid">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="id" type="q2:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataFromGuidResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Calculator.Domain" minOccurs="0" name="GetDataFromGuidResult" nillable="true" type="q3:CalculatorOperation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllData">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Calculator.Domain" minOccurs="0" name="GetAllDataResult" nillable="true" type="q4:ArrayOfCalculatorOperation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CalculateResult">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Calculator.Service.DTOs" minOccurs="0" name="request" nillable="true" type="q5:CalculateResultRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CalculateResultResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Calculator.Domain" minOccurs="0" name="CalculateResultResult" nillable="true" type="q6:CalculatorOperation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveData">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="id" type="q7:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveDataResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CalculateRoots">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="a" type="xs:decimal" />
        <xs:element minOccurs="0" name="b" type="xs:decimal" />
        <xs:element minOccurs="0" name="c" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CalculateRootsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Calculator.Service.DTOs" minOccurs="0" name="CalculateRootsResult" nillable="true" type="q8:Root" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>